<h1>Hospitais</h1>
<div id="hospitals">
  <% @hospitals.each do |hospital| %>
    <% if current_user.associated_at_hospital?(hospital) %>
      <div id="<%= dom_id hospital %>">
        <strong>Nome:</strong>
        <%= link_to hospital.name, hospital_path(hospital) %>
        <p>Cargo: <%= current_user.role_at_hospital(hospital) %></p>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
<%= link_to "Cadastrar hospital", new_hospital_path %>
<br>
<span style="font-size: .7em"><small>For presentation purposes...</small></span>
